<header class="@@el header">
  <div class="container container--size-md header__container">
    <a href="/" class="header__logo header__logo--normal">
      <picture class="header__logo-img">
        <img src="images/logo-theme-dark.svg" class="js-convert-svg" width="64" height="39" alt="Dev">
      </picture>
    </a>
    <a href="/" class="header__logo header__logo--menu">
      <picture class="header__logo-img">
        <img src="images/logo-theme-dark.svg" class="js-convert-svg" width="64" height="39" alt="Dev">
      </picture>
    </a>
    <nav class="header__menu" role="navigation">
      <ul class="header__menu-list">
        <li class="header__menu-item">
          <a href="about.html" class="header__menu-link">About</a>
        </li>
        <li class="header__menu-item">
          <a href="work.html" class="header__menu-link">Work</a>
        </li>
        <li class="header__menu-item">
          <a href="codex.html" class="header__menu-link">Codex</a>
        </li>
        <li class="header__menu-item">
          <a href="#" class="header__menu-link">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="header__dropdown">
      <div class="header__dropdown-inner">
        <div class="container container--size-lg header__dropdown-container">
          <div class="row header__dropdown-row">
            <div class="row__col--4 header__dropdown-col header__dropdown-col--work">
              <div class="header__dropdown-work">
                <div class="header__dropdown-work-item">
                  <div class="services-card services-card--size-md services-card--type-work">
                    <div class="services-card__inner">
                      <div class="services-card__media">
                        <picture class="services-card__picture">
                          <source
                            srcset="images/services-card-1@2x.webp 2x,
                                    images/services-card-1.webp"
                                    type="image/webp">
                          <img
                            src="images/services-card-1.jpg"
                            srcset="images/services-card-1@2x.jpg 2x"
                            alt="EvolveDrupal"
                            width="568" height="757">
                        </picture>
                      </div>
                      <div class="services-card__content">
                        <p class="services-card__counter">#01</p>
                        <p class="title-size-4 services-card__title">
                          <a href="#" class="services-card__link">EvolveDrupal</a>
                        </p>
                        <p class="services-card__position">Conference Brand Identity</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row__col--6 header__dropdown-col header__dropdown-col--main">
              <div class="header__dropdown-main">
                <div class="header__dropdown-main-title">
                  <a href="work.html" class="title-size-2 header__dropdown-link">Work</a>
                </div>
                <div class="row header__dropdown-main-row">
                  <div class="row__col header__dropdown-main-row-col">
                    <div class="services-card services-card--size-md services-card--type-work header__dropdown-card-work">
                      <div class="services-card__inner">
                        <div class="services-card__content">
                          <p class="title-size-4 services-card__title">
                            <a href="#" class="services-card__link">EvolveDrupal</a>
                          </p>
                          <p class="services-card__position">Conference Brand Identity</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row__col header__dropdown-main-row-col">
                    <div class="services-card services-card--size-md services-card--type-work header__dropdown-card-work">
                      <div class="services-card__inner">
                        <div class="services-card__content">
                          <p class="title-size-4 services-card__title">
                            <a href="#" class="services-card__link">EvolveDrupal</a>
                          </p>
                          <p class="services-card__position">Conference Brand Identity</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row__col header__dropdown-main-row-col">
                    <div class="services-card services-card--size-md services-card--type-work header__dropdown-card-work">
                      <div class="services-card__inner">
                        <div class="services-card__content">
                          <p class="title-size-4 services-card__title">
                            <a href="#" class="services-card__link">New / Mode</a>
                          </p>
                          <p class="services-card__position">Art-Direction; Brand Identity; Interfaces.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row__col header__dropdown-main-row-col">
                    <div class="services-card services-card--size-md services-card--type-work header__dropdown-card-work">
                      <div class="services-card__inner">
                        <div class="services-card__content">
                          <p class="title-size-4 services-card__title">
                            <a href="#" class="services-card__link">New / Mode</a>
                          </p>
                          <p class="services-card__position">Art-Direction; Brand Identity; Interfaces.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row__col header__dropdown-main-row-col">
                    <div class="services-card services-card--size-md services-card--type-work header__dropdown-card-work">
                      <div class="services-card__inner">
                        <div class="services-card__content">
                          <p class="title-size-4 services-card__title">
                            <a href="#" class="services-card__link">Warne</a>
                          </p>
                          <p class="services-card__position">Conference Brand Identity</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row__col header__dropdown-main-row-col">
                    <div class="services-card services-card--size-md services-card--type-work header__dropdown-card-work">
                      <div class="services-card__inner">
                        <div class="services-card__content">
                          <p class="title-size-4 services-card__title">
                            <a href="#" class="services-card__link">Warne</a>
                          </p>
                          <p class="services-card__position">Conference Brand Identity</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row__col header__dropdown-main-row-col">
                    <div class="services-card services-card--size-md services-card--type-work header__dropdown-card-work">
                      <div class="services-card__inner">
                        <div class="services-card__content">
                          <p class="title-size-4 services-card__title">
                            <a href="#" class="services-card__link">New / Mode</a>
                          </p>
                          <p class="services-card__position">Art-Direction; Brand Identity; Interfaces.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row__col--3 header__dropdown-col header__dropdown-col--nav">
              <nav class="header__dropdown-nav" role="navigation">
                <ul class="header__dropdown-nav-list">
                  <li class="header__dropdown-nav-item">
                    <a href="about.html" class="title-size-2 header__dropdown-link">About</a>
                  </li>
                  <li class="header__dropdown-nav-item">
                    <a href="codex.html" class="title-size-2 header__dropdown-link">Codex</a>
                  </li>
                  <li class="header__dropdown-nav-item">
                    <a href="#" class="title-size-2 header__dropdown-link">Contact</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="row__col--15 header__dropdown-col header__dropdown-col--footer">
              <div class="header__dropdown-footer">
                <p class="title-size-5 header__dropdown-footer-years">2008</p>
                <p class="title-size-5 header__dropdown-footer-years">2024</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="js-header-nav-toggle header__nav-toggle header__nav-toggle--open">Menu</button>
    <button type="button" class="js-header-nav-toggle header__nav-toggle header__nav-toggle--close">Close</button>
  </div>
</header>