@import 'keyframes';

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--gap-fluid);
  &--size {
    &-md {
      max-width: $containerWidthMd;
    }
    &-lg {
      max-width: $containerWidthLg;
    }
  }
}

.row {
  margin: 0 var(--gap-);
  display: flex;
  flex-wrap: wrap;
  &__col {
    max-width: 100%;
    min-height: 1rem;
    padding: 0 var(--gap);
    flex-shrink: 0;
    @for $i from 1 through 15 {
      &--#{$i} {
        @extend .row__col;
        max-width: percentage(math.div($i, 15));
        flex-basis: percentage(math.div($i, 15));
      }
    }
  }
}